/* You can add global styles to this file, and also import other style files */
.italic {
  font-style: italic;
}
.red {
  color: red;
}
.faded {
    opacity: 0.2;
}
.faded:hover {
    opacity: 0.5;
}
.subtitle {
  font-size: 20px;
  font-style: italic;
  color: grey;
  margin-bottom: 10px;
}
